.setings {
  display: flex;
  padding-left: 1.5em;
}

.inputBoxWidthAndHight {
  text-align: center;
  width: 1.5em;
  height: 1.5em;
  display: unset;
  border-right: 0.15em solid black;
  border-radius: 0.5em;
  margin-right: 0.1em;
} 

.words {
  text-align: center;
  color: black;
  /* border-right: 0.15em solid black; */
  padding-left: 0.1em;
  align-content: space-evenly;
}

.setingsLineSeperator {
  border: 0.1em solid black;
}

.setingsBox {
  border: 0.2em solid black;
  border-radius: 0.5em;
  display: flex;
}

.setingsSolveButton {
  text-align: center;
  width: 1.75em;
  height: 1.75em;
  display: unset;
  border: 0.15em solid black;
  background-color: lightblue;
  border-radius: 0.25em;
  font-size: x-large;
  margin: 0.25em;
}

.setingsSolveButtonHighlighted {
  text-align: center;
  width: 1.75em;
  height: 1.75em;
  display: unset;
  border: 0.15em solid black;
  background-color: lightblue;
  box-shadow: 0em 0em 0.5em 0.1em black;
  border-radius: 0.25em;
  font-size: x-large;
  margin: 0.25em;
}