.setings {
  display: flex;
  padding-left: 1.5em;
}

.inputBoxWidthAndHight {
  text-align: center;
  width: 1.5em;
  height: 1.5em;
  display: unset;
  border-right: 0.15em solid black;
  border-radius: 0.5em;
  margin-right: 0.1em;
} 

.words {
  text-align: center;
  color: black;
  /* border-right: 0.15em solid black; */
  padding-left: 0.1em;
  align-content: space-evenly;
}

.setingsLineSeperator {
  border: 0.1em solid black;
}

.setingsBox {
  border: 0.2em solid black;
  border-radius: 0.5em;
  display: flex;
}

.buttonLargeNumbers{
  text-align: center;
  width: 35.6px;
  height: 35.6px;
  border: 4px solid black;
  background-color: lightblue;
  border-radius: 0.25em;
  font-size: x-large;
  margin: 2.4px;
}

.buttonSmallNumbers{
  text-align: center;
  width: 35.6px;
  height: 35.6px;
  border: 4px solid black;
  background-color: lightblue;
  border-radius: 0.5em;
  font-size: small;
  margin: 2.4px;
}

.setingsSolveButtonSmallNumbers {
  text-align: center;
  width: 3.225em;
  height: 3.225em;
  display: unset;
  border: 0.3em solid black;
  background-color: lightblue;
  border-radius: 0.5em;
  font-size: small;
  margin: 0.1em;
  text-wrap: wrap;
}

.setingsSolveButtonLargeNumbers {
  text-align: center;
  width: 1.75em;
  height: 1.75em;
  display: unset;
  border: 0.15em solid black;
  background-color: lightblue;
  border-radius: 0.25em;
  font-size: x-large;
  margin: 0.1em;
}

.setingsSolveButtonSmallNumbersHighlighted {
  text-align: center;
  width: 3.225em;
  height: 3.225em;
  display: unset;
  border: 0.3em solid black;
  background-color: lightblue;
  box-shadow: 0em 0em 1em 0.2em black;
  border-radius: 0.5em;
  font-size: small;
  margin: 0.1em;
  text-wrap: wrap;
}

.setingsSolveButtonLargeNumbersHighlighted {
  text-align: center;
  width: 1.75em;
  height: 1.75em;
  display: unset;
  border: 0.15em solid black;
  background-color: lightblue;
  box-shadow: 0em 0em 0.5em 0.1em black;
  border-radius: 0.25em;
  font-size: x-large;
  margin: 0.1em;
}