#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


.lineUp {
  display: flex;
}

.numberBox {  
  height: 2em;
  width: 2em;
  color: white;
  display: flex;
  text-align: center;
  justify-content: flex-end;
}

.boxRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.result-text {
  text-align: center;
}

.rowLineThickLong {
  height: 0em;
  border: 0.15em solid darkgray;
  width: 19.65em;
}

.rowLineThickShort {
  height: 0em;
  border: 0.15em solid darkgray;
}

.collemLineThickShort {
  height: 1.85em;
  border: 0.15em solid darkgray;
  width: 0em;
  margin-bottom: -0.2em;
}

.collemLineThickLong {
  border: 0.15em solid darkgray;
  width: 0em;
}

.collemLineThin {
  height: 1.9em;
  border: 0.05em solid lightgray;
  width: 0em;
}

.rowLineThin {
  height: 0em;
  border: 0.05em solid lightgray;
}

.incorectValue {
  color: red;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}