.hideInputBox {
    text-align: center;
    width: 2em;
    height: 2em;
    display: unset;
    visibility: hidden;
}

.errorInputBox {
    text-align: center;
    width: 2em;
    height: 2em;
    display: unset;
    color: red;
}

.inputBox {
    text-align: center;
    width: 2em;
    height: 2em;
    display: unset;
    padding: 0em;
} 