.hideInputBox {
    text-align: center;
    width: 2em;
    height: 2em;
    display: unset;
    visibility: hidden;
}

.errorInputBox {
    text-align: center;
    width: 2.4em;
    height: 2.4em;
    display: unset;
    background-color: rgb(239, 71, 71);
    border: 0;
    padding: 0;
}

.inputBox {
    text-align: center;
    width: 2.4em;
    height: 2.4em;
    display: unset;
    border: 0;
    padding: 0;
    background: none;
} 