#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.boxRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.numberBox {  
  height: 2em;
  width: 2em;
  border: 0.05em solid lightgrey;
  margin: 0.1em;
  color: white;
}

.inputBox {
 width: 2em;
}

.A3By3Grid {
  border: 0.1em solid darkgray;
  display: flex;
  flex-direction: row;
}

.sodukuGrid {
  flex-direction: row;
  display: flex;
}