.rowLineThickShort {
    height: 0px;
    /* border: 0.15em solid darkgray; */
    border: 2.4px solid black;
}

.rowLineThin {
    height: 0px;
    /* border: 0.05em solid lightgray; */
    border: 0.8px solid darkgray;
}